@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  font-size: 1.1111111111111112vw;
  background-color: #e8f0f9;
  color: #05070f;
  line-height: 1;
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 18.88888888888889px;
  }
}

body::-webkit-scrollbar {
  display: none;
}