@tailwind base;
@tailwind components;
@tailwind utilities;







body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  font-size: 1.1111111111111112vw;
  background-color: #e8f0f9;
}

body::-webkit-scrollbar {
  display: none;
}